element {
  touch-action: auto;
  touch-action: none;
  touch-action: manipulation;
  touch-action: pinch-zoom;
  touch-action: pan-x;
  touch-action: pan-left;
  touch-action: pan-right;
  touch-action: pan-y;
  touch-action: pan-up;
  touch-action: pan-down;
  touch-action: pan-x pinch-zoom;
  touch-action: pan-left pinch-zoom;
  touch-action: pan-right pinch-zoom;
  touch-action: pan-y pinch-zoom;
  touch-action: pan-up pinch-zoom;
  touch-action: pan-down pinch-zoom;
  touch-action: pinch-zoom pan-x;
  touch-action: pinch-zoom pan-left;
  touch-action: pinch-zoom pan-right;
  touch-action: pinch-zoom pan-y;
  touch-action: pinch-zoom pan-up;
  touch-action: pinch-zoom pan-down;
  touch-action: pan-x pan-y;
  touch-action: pan-x pan-up;
  touch-action: pan-x pan-down;
  touch-action: pan-y pan-x;
  touch-action: pan-up pan-x;
  touch-action: pan-down pan-x;
  touch-action: pan-left pan-y;
  touch-action: pan-left pan-up;
  touch-action: pan-left pan-down;
  touch-action: pan-y pan-left;
  touch-action: pan-up pan-left;
  touch-action: pan-down pan-left;
  touch-action: pan-right pan-y;
  touch-action: pan-right pan-up;
  touch-action: pan-right pan-down;
  touch-action: pan-y pan-right;
  touch-action: pan-up pan-right;
  touch-action: pan-down pan-right;
  touch-action: pan-x pan-y pinch-zoom;
  touch-action: pan-x pan-up pinch-zoom;
  touch-action: pan-x pan-down pinch-zoom;
  touch-action: pan-y pan-x pinch-zoom;
  touch-action: pan-up pan-x pinch-zoom;
  touch-action: pan-down pan-x pinch-zoom;
  touch-action: pan-left pan-y pinch-zoom;
  touch-action: pan-left pan-up pinch-zoom;
  touch-action: pan-left pan-down pinch-zoom;
  touch-action: pan-y pan-left pinch-zoom;
  touch-action: pan-up pan-left pinch-zoom;
  touch-action: pan-down pan-left pinch-zoom;
  touch-action: pan-right pan-y pinch-zoom;
  touch-action: pan-right pan-up pinch-zoom;
  touch-action: pan-right pan-down pinch-zoom;
  touch-action: pan-y pan-right pinch-zoom;
  touch-action: pan-up pan-right pinch-zoom;
  touch-action: pan-down pan-right pinch-zoom;
  touch-action: pinch-zoom pan-x pan-y;
  touch-action: pinch-zoom pan-x pan-up;
  touch-action: pinch-zoom pan-x pan-down;
  touch-action: pinch-zoom pan-y pan-x;
  touch-action: pinch-zoom pan-up pan-x;
  touch-action: pinch-zoom pan-down pan-x;
  touch-action: pinch-zoom pan-left pan-y;
  touch-action: pinch-zoom pan-left pan-up;
  touch-action: pinch-zoom pan-left pan-down;
  touch-action: pinch-zoom pan-y pan-left;
  touch-action: pinch-zoom pan-up pan-left;
  touch-action: pinch-zoom pan-down pan-left;
  touch-action: pinch-zoom pan-right pan-y;
  touch-action: pinch-zoom pan-right pan-up;
  touch-action: pinch-zoom pan-right pan-down;
  touch-action: pinch-zoom pan-y pan-right;
  touch-action: pinch-zoom pan-up pan-right;
  touch-action: pinch-zoom pan-down pan-right;
  touch-action: pan-x pinch-zoom pan-y;
  touch-action: pan-x pinch-zoom pan-up;
  touch-action: pan-x pinch-zoom pan-down;
  touch-action: pan-y pinch-zoom pan-x;
  touch-action: pan-up pinch-zoom pan-x;
  touch-action: pan-down pinch-zoom pan-x;
  touch-action: pan-left pinch-zoom pan-y;
  touch-action: pan-left pinch-zoom pan-up;
  touch-action: pan-left pinch-zoom pan-down;
  touch-action: pan-y pinch-zoom pan-left;
  touch-action: pan-up pinch-zoom pan-left;
  touch-action: pan-down pinch-zoom pan-left;
  touch-action: pan-right pinch-zoom pan-y;
  touch-action: pan-right pinch-zoom pan-up;
  touch-action: pan-right pinch-zoom pan-down;
  touch-action: pan-y pinch-zoom pan-right;
  touch-action: pan-up pinch-zoom pan-right;
  touch-action: pan-down pinch-zoom pan-right;
}
